* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.react-img {
  margin-right: 7px;
}

.site-name {
  margin-right: auto;
  color: #61dafb;
  font-size: 22px;
}

.description {
  color: #deebf8;
  font-weight: 600;
  font-size: 19px;
}
